

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle">Limonata</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "09-limonata.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "water.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">water</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">lemon</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lime.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">lime</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "stevia.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">stevia</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			I tread lightly but carry a tangy punch, boosting your energy instantly and alkalizing your blood. Balancing the body’s pH and jumpstarting digestive processes with the tartness of lemon and lime, my flavors are piqued with just a touch of all­-natural, blood­ sugar­ friendly, zero­ calorie stevia leaf sweetener.		
		</div>
    </div>
</div>
