

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice3.title' %></div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "03-tasteofparadise.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "pineapple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.pineapple' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.cucumber' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "mint.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.mint' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice3.description' %>
		</div>
    </div>
</div>
