

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice5.title' %> <font class="cleansePrice"><%= t 'juices.juice5.price' %></font></div>
    	<div class="shopifyBuy">
	   		<form action="https://jusistanbul.myshopify.com/cart/add" method="post">
			  <input type="hidden" name="id" value="1171241905" />
			  <input type="hidden" name="return_to" value="back" />
			  <input type="submit" value="<%= t 'juices.addtocart' %>" class="addButton"/>
			</form>
	   	</div>
    </div>

    	


    <div class="JuiceContent">
    	
	   	<%= image_tag "05-uprooted.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.apple' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "beet.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.beet' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.carrot' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.ginger' %></div>
			</div>

		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice5.description' %>
		</div>
    </div>
</div>
