

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice7.title' %></div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "07-morningglory.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.carrot' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "orange.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.orange' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "grapefruit.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.grapefruit' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "turmeric.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.turmeric' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cayenne.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.cayenne' %></div>
			</div>
		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice7.description' %>
		</div>
    </div>
</div>
