

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice1.title' %> <font class="cleansePrice"><%= t 'juices.juice1.price' %></font></div>
    	       	<div class="shopifyBuy">
	   		<form action="https://jusistanbul.myshopify.com/cart/add" method="post">
			  <input type="hidden" name="id" value="1171240429" />
			  <input type="hidden" name="return_to" value="back" />
			  <input type="submit" value="<%= t 'juices.addtocart' %>" class="addButton"/>
			</form>
	   	</div>

    </div>

    <!--div class="shopifybuy">
    	<div data-background_color="ffffff" data-button_background_color="7db461" data-button_text_color="ffffff" data-buy_button_text="Buy" data-display_size="compact" data-embed_type="product" data-has_image="false" data-product_handle="the-source" data-product_name="The Source" data-redirect_to="cart" data-shop="jusistanbul.myshopify.com"></div>
<script type="text/javascript">
document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
</script>
<noscript><a href="https://jusistanbul.myshopify.com/cart/1171240429:1" target="_blank">Buy The Source</a></noscript>

   	</div-->


   	<!--div class="shopifyBuy">
   		

   		<a href="http://jusistanbul.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '1171240429'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'back'); f.appendChild(r); f.submit(); return false;">BUY NOW</a>
   	</div-->

    <div class="JuiceContent">

    	<%= image_tag "01-source.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.apple' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.cucumber' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "parsley.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.parsley' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "rocket.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.rocket' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "spinach.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.spinach' %></div>
			</div>
		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "romaine.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.romaine' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.lemon' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.ginger' %></div>
			</div>
			
		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice1.description' %>
		</div>
    </div>
</div>
