

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice1.title' %></div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "01-source.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.apple' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.cucumber' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "parsley.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.parsley' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "rocket.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.rocket' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "spinach.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.spinach' %></div>
			</div>
		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "romaine.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.romaine' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.lemon' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.ginger' %></div>
			</div>
			
		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice1.description' %>
		</div>
    </div>
</div>
