

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice5.title' %></div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "05-uprooted.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.apple' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "beet.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.beet' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.carrot' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.ginger' %></div>
			</div>

		</div> 
		<div class="JuiceDescription">
			<%= t 'juices.juice5.description' %>
		</div>
    </div>
</div>
