

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle"><%= t 'juices.juice6.title' %> <font class="cleansePrice"><%= t 'juices.juice6.price' %></font></div>
    	<div class="shopifyBuy">
	   		<form action="https://jusistanbul.myshopify.com/cart/add" method="post">
			  <input type="hidden" name="id" value="1171242393" />
			  <input type="hidden" name="return_to" value="back" />
			  <input type="submit" value="<%= t 'juices.addtocart' %>" class="addButton"/>
			</form>
	   	</div>
    </div>

    	

    <div class="JuiceContent">
		
    	<%= image_tag "06-downeasy.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "grape.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.grape' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.carrot' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cabbage.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.cabbage' %></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel"><%= t 'ingredients.lemon' %></div>
			</div>
			
		</div>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div>  
		<div class="JuiceDescription">
			<%= t 'juices.juice6.description' %>
		</div>
    </div>
</div>
