<div id="section2"></div>

<div id="" class="parallax nopadding_parallax">
    <div class="RightColumn">

        <div class="ColumnTitle anchorLink"><%= t 'juices.title' %></div>

        <%= render "section_seperator" %>

        <div id="" class="SubRow">

            <%= render "static_pages/juices/juice1" %>
            <%= render "static_pages/juices/juice2" %>
            <%= render "static_pages/juices/juice3" %>
            <%= render "static_pages/juices/juice4" %>
            <%= render "static_pages/juices/juice5" %>
            <%= render "static_pages/juices/juice6" %>
            <%= render "static_pages/juices/juice7" %>
            <%= render "static_pages/juices/juice8" %>
            <%= render "static_pages/juices/juice9" %>
            <%= render "static_pages/juices/juice10" %>
            
        </div>
    </div>

</div>