
<div id="jus_footer">

	<%= link_to home_path do %>
		<%= image_tag "jus-header-logo.png", id: "footer_logo" %>
	<% end %>

	<div id="company_info">
		JÜS © 2014. All rights reserved.</br>
		Başkurt Sk. No:34, 34250 Cihangir, İstanbul
	</div>

	<div id="company_contact">
		<%= link_to("mailto:info@jusistanbul.com",id: "footer_mail", target: "_blank") do %>
			info@jusistanbul.com
		<% end %>
		</br>
		0.536.775.2674
	</div>

	<div id="social">

	<%= link_to("https://www.facebook.com/pages/J%C3%9CS/1533804996877958", target: "_blank") do %>
		  <%= image_tag "facebook-transparent-icon.png", class: "footer_icon social_icon" %>
	<% end %>
	
	<%= link_to("http://instagram.com/jusistanbul", target: "_blank") do %>
		  <%= image_tag "instagram-icon.png", class: "footer_icon social_icon" %>
	<% end %>

	<%= link_to("https://twitter.com/JusIstanbul", target: "_blank") do %>
		  <%= image_tag "twitter-transparent-icon.png", class: "footer_icon social_icon" %>
	<% end %>

	</div>


</div>
