
	<div id="ruler">

	</div>

<div id="jus_header">

	<div id="header_bg">
		<div id="logo_ornament">
			<%= image_tag "color-droplets.png", id: "droplets" %>
			<%= image_tag "organic-cold-pressed-juice.png", id: "slogan" %>
		</div>
	</div>



	<div id="links">
		<%= link_to home_path do %>
			<%= image_tag "jus-header-logo.png", id: "jus_logo" %>
		<% end %>

		<%= link_to home_path(:anchor => 'section1') do %>
			<div class="nav_link permanent_selected">
				<div class="bullet_drop"></div>
				<div class="nav_label">Home</div>
			</div>
		<% end %>

		<%= link_to home_path(:anchor => 'section2') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label">The JÜS Philosophy</div>
			</div>
		<% end %>		

		<%= link_to home_path(:anchor => 'section3') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label">Why JÜS?</div>
			</div>
		<% end %>		

		<%= link_to home_path(:anchor => 'coldPressed') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label">Cold Pressed</div>

			</div>
		<% end %>		

		<%= link_to home_path(:anchor => 'norwalk') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label">Norwalk</div>

			</div>
		<% end %>

		<%= link_to home_path(:anchor => 'section4') do %>
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label">Products</div>
			</div>
		<% end %>

		<%= link_to products_path do %>
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label">Cleanses</div>
			</div>
		<% end %>


		<%= link_to about_path do %>
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label">FAQ</div>
			</div>
		<% end %>
		
		<%= link_to "http//www.google.com" do %>	
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label">Blog</div>
			</div>
		<% end %>

	</div>

	<div id="social">

		<%= link_to("mailto:info@jusistanbul.com", id: "header_mail", target: "_blank") do %>
			info@jusistanbul.com
		<% end %>

		<%= link_to("https://www.facebook.com/pages/J%C3%9CS/1533804996877958", target: "_blank") do %>
			  <%= image_tag "facebook-transparent-icon.png", class: "social_icon" %>
		<% end %>
		
		<%= link_to("http://instagram.com/jusistanbul", target: "_blank") do %>
			  <%= image_tag "instagram-icon.png", class: "social_icon" %>
		<% end %>

		<%= link_to("https://twitter.com/JusIstanbul", target: "_blank") do %>
			  <%= image_tag "twitter-transparent-icon.png", class: "social_icon" %>
		<% end %>

	</div>

</div>

<script type="text/javascript">

//Smooth scrolling

$(function() {
 	window.onscroll = reportPosition;	
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

function getPosition() {

	var position = $(document).scrollTop();
	console.log("position: " + position );
	return position;
};

function reportPosition() {

	$(".selected").removeClass("selected");

	var anchors = $(".anchorLink");
	var link_position = 0;
	console.log(anchors.length);
	
	for (i = 0; i < anchors.length; i++) { 
    	anchor = anchors[i];
    	anchorPosition = $( anchor ).offset().top;

    	console.log(i + " " + anchorPosition);

    	if (anchorPosition < getPosition() + 70)
    	{
    		link_position = i + 1;
    	}	
	}

	if(link_position > 0) {

		console.log("currently " + anchors[link_position ].innerHTML);

		var navLinks = $(".nav_link, .nav_sublink");

		var link_text = anchors[link_position -1 ].innerHTML;

		console.log("link text " + link_text);
		
		var label_selected = $('.nav_label:contains('+ link_text +')')[0];
		var main_link = $('.nav_label:contains('+ link_text +')').closest(".nav_link");

		console.log("link selected " + label_selected.innerHTML);

		var link_selected = $('.nav_label:contains('+ link_text +')')[0].parentNode;

		link_selected.className += " selected";

		main_link.className += " selected";
	}

}



</script>
