<div id="team" class="parallax">
    <div class="LeftColumn">
        <div class="LeftLabel">TEAM</div>
    </div>
    <div class="RightColumn">
        <%= link_to("http://www.linkedin.com/in/ardaayvaz", target: "_blank") do %><div id="arda" class="ProfileColumn">
            <%= image_tag "team1.png", class: "ProfilePicture" %>
            <div class="ProfileHover"></div>
        </div><% end %><%= link_to("http://www.linkedin.com/in/barissiniksaran", target: "_blank") do %><div id="baris" class="ProfileColumn">
            <%= image_tag "team2.png", class: "ProfilePicture" %>            
            <div class="ProfileHover"></div>
        </div><% end %><%= link_to("http://www.linkedin.com/in/mozgul", target: "_blank") do %><div id="murat" class="ProfileColumn">
            <%= image_tag "team3.png", class: "ProfilePicture" %>          
            <div class="ProfileHover"></div>  
        </div><% end %><%= link_to("http://www.linkedin.com/in/serhanozgul", target: "_blank") do %><div id="serhan" class="ProfileColumn">
            <%= image_tag "team4.png", class: "ProfilePicture" %>          
            <div class="ProfileHover"></div>  
        </div><% end %>
    </div>
</div>