<div id="section1"></div>
<%= render "static_pages/header/about_header" %>

<div class="parallax nopadding_parallax">
    
    <div class="RightColumn">

	<div class="ColumnTitle anchorLink"><%= t 'about.title1' %></div>

	<%= render "section_seperator" %>
		
		<div id="" class="SubRow ">
			<%= t 'about.description1' %></br></br></br>
		</div>
	<div id="section2"></div>
	<div class="ColumnTitle anchorLink"><%= t 'about.title2' %></div>

	<%= render "section_seperator" %>
		
		<div id="" class="SubRow ">
			<%= image_tag "aylin.jpg", class: "store-graphic" %>
			</br></br>
			<%= t 'about.description2-1' %>
			</br></br>
			<%= t 'about.description2-2' %>
			
			<text class="extraText">
				</br><%= t 'about.description2-3' %>
				</br></br>
				<%= t 'about.description2-4' %>
				</br></br>
				<%= t 'about.description2-5' %>
			</text>
		
			</br></br>
		</div>

	<div class="ColumnTitle anchorLink"><%= t 'about.title3' %></div>
		<div id="section3"></div>
		<%= render "section_seperator" %>
		<div id="" class="SubRow ">
			<%= image_tag "store.jpg", class: "store-graphic" %>
			</br></br>
			<%= t 'about.description3' %></br></br>
		</div>

		<div id="" class="SubRow ">
			
			<div id="locations">
				<div class="location">
					<div class="partnerLogo"><%= image_tag "jus-logo.png", class: "jusLocationImage" %></div>
					<div class="partnerName">JÜS</div>
					<div class="partnerAddress">Başkurt Sk. No:34, Cihangir, İstanbul</div>
					<div class="partnerWebsite">
						<%= link_to("http://www.jusistanbul.com/", target: "_blank") do %>
							jusistanbul.com	
						<% end %>
					</div>
					<div class="partnerPhone">0212 243-4545</div>
				</div>
				<div class="location">
					<div class="partnerLogo"><%= image_tag "Mahalo.jpg", class: "partnerLogoImage" %></div>
					<div class="partnerName"><%= t 'about.partner1.name' %></div>
					<div class="partnerAddress"><%= t 'about.partner1.address' %></div>
					<div class="partnerWebsite">
						<%= link_to("http://mahaloistanbul.com/", target: "_blank") do %>
							<%= t 'about.partner1.website' %>	
						<% end %>
					</div>
					<div class="partnerPhone"><%= t 'about.partner1.phone' %></div>
				</div>
				</br>
				<div class="location">
					<div class="partnerLogo"><%= image_tag "Bikram.jpg", class: "partnerLogoImage",  id: "bikramLogo" %></div>
					<div class="partnerName"><%= t 'about.partner2.name' %></div>
					<div class="partnerAddress"><%= t 'about.partner2.address' %></div>
					<div class="partnerWebsite">
						<%= link_to("http://www.40derecebikramyoga.com", target: "_blank") do %>
							<%= t 'about.partner2.website' %>	
						<% end %>
					</div>
					<div class="partnerPhone"><%= t 'about.partner2.phone' %></div>
				</div>
			</div>

			<div id="mapWidget">
				<div id="gmapLayover"></div>
				<iframe id="gmap" src="https://mapsengine.google.com/map/u/0/embed?mid=zWN4ZwEv6Cw4.kS9lDXArGQIk">
				</iframe>
				<div id="gmapRightBorder"></div>
			</div>
			</br></br></br>

		</div>

	</div>

</div>

<script>
	$('.extraText').readmore({
		speed: 400,
		moreLink: '<a class="readMoreLink" href="#">Read more <triangle>&#9654</triangle></a>',
		lessLink: '<a class="readMoreLink" href="#">Minimize <triangle>&#9664</triangle></a>',
		collapsedHeight: 0,
		heightMargin: 0
	});

	
        
	$('.readMoreLink').click(function() {
		if ($('.extraText').attr("aria-expanded")=="true") { 
			$('.extraText' ).addClass("openText");	
		}
		else{ 
			$('.extraText' ).removeClass("openText");	
		}

	});
</script>

<%= render "footer" %>
