<div id="section1"></div>
<%= render "header" %>

<%= render "static_pages/home/section1" %> <!-- carousel -->
<%= render "static_pages/home/section2" %> <!-- jusinfo -->
<%= render "static_pages/home/section3" %> <!-- whyjus -->
<%= render "static_pages/home/section4" %> <!-- products overview -->


<%= render "footer" %>
