<div id="splash_frame">
	
	<%= image_tag "jus-logo-splash.png", id: "splash_logo" %>
	

	<div id="social_links">

		<%= link_to("https://www.facebook.com/pages/J%C3%9CS/1533804996877958", target: "_blank") do %>
		<div class="social_link" id="facebook_link">
			<div id="mail_link_caption">JÜS Istanbul</div>
				<%= image_tag "facebookicon.png", class: "splash_social_icon", id: "facebook_icon" %>
		</div>	
		<% end %>
		
		<%= link_to("http://instagram.com/jusistanbul", target: "_blank") do %>
		<div class="social_link" id="instagram_link">
			<div id="mail_link_caption">@jusistanbul</div>
			<%= image_tag "instagramicon.png", class: "splash_social_icon", id: "instagram_icon" %>
		</div>	
		<% end %>

		<%= link_to("https://twitter.com/JusIstanbul", target: "_blank") do %>
		<div class="social_link" id="twitter_link">
			<div id="mail_link_caption">@JusIstanbul</div>
			<%= image_tag "twittericon.png", class: "splash_social_icon", id: "twitter_icon" %>
		</div>	
		<% end %>
		
		<%= link_to("mailto:info@jusistanbul.com", target: "_blank") do %>
		<div class="social_link" id="mail_link">
			<div id="mail_link_caption">info@jusistanbul.com</div>
			<%= image_tag "mailicon.png", class: "splash_social_icon", id: "mail_icon" %>
		</div>	
		<% end %>


	</div>
</div>