

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">Lean Green</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "02-leangreen.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">apple</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cucumber</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">carrot</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "spinach.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">spinach</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "spirulina.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">spirulina</div>
			</div>
		</div> 
		<div class="JuiceDescription">
			You stay active and I’m protein-rich - how about we go out sometime? Drink me after a tough workout, for a midday pick-me-up or first thing in the morning. I’m grounded but still a showoff and I’ll give you glowing skin, suppress your hunger, cleanse your blood and give you that twinkle in the eyes you’ve always wanted.
		</div>
    </div>
</div>
