

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">Taste of Paradise</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "03-tasteofparadise.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "pineapple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">pineapple</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cucumber</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "mint.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">mint</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><div class="IngredientIcon"></div></div>
				<div class="IngredientLabel"></div>
			</div>
		</div> 
		<div class="JuiceDescription">
			Close your eyes. Guess where we are. Or rather, where we could be. You’ll be body ready for the Summer with me by your side. I’ll nourish your skin, from head to toe, improve your digestion to keep your tummy flat, keep your joints lithe and painless and get rid of bad breathe, so you can lean in as close to paradise as possible. 
		</div>
    </div>
</div>
