

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">The Source</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "01-source.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">apple</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cucumber</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "parsley.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">parsley</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "rocket.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">rocket</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "spinach.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">spinach</div>
			</div>
		</div> 
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "romaine.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">romaine</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">lemon</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">ginger</div>
			</div>
			
		</div> 
		<div class="JuiceDescription">
			Life is tough and things don’t always go as planned, but I’m here for you. Each and every morning, I am your constant, filling your empty tummy up with joy. I jumpstart digestive processes, boost immunity, promote a robust heart, detoxify the liver and remind you that today may be the best day ever.
		</div>
    </div>
</div>
