

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">Lean Green</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "juice-bottle-4.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "pear.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">pear</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cucumber.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cucumber</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cardamom.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cardamom</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cinnamon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cinnamon</div>
			</div>

		</div> 
		<div class="JuiceDescription">
			You’re sweet and spicy, just like me. But that’s because you want it all - clean cells, radiant skin and a body free of aches, pains and illness. I fight inflammation, increase your sex drive, take down harmful bacteria in your gut and boost your immunity. 
		</div>
    </div>
</div>
