

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">Morning Glory</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "juice-bottle-7.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">carrot</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "orange.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">orange</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "grapefruit.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">grapefruit</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "turmeric.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">turmeric</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cayenne.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cayenne</div>
			</div>
		</div> 
		<div class="JuiceDescription">
			Need some help getting out of bed and being ready to conquer the day with a smile? All you need is a whiplash of sunshine. I’ll start your morning off right with increased immunity, clear skin and eyes and a metabolism on high-gear.
		</div>
    </div>
</div>
