

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">200 ml</div>
    	<div class="JuiceTitle">Hazelnut Mylk</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "juice-bottle-11.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "hazelnut.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">hazelnut</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "water.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">water</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "date.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">date</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "vanillabean.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">vanilla bean</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cinnamon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cinnamon</div>
			</div>
		</div> 
		<div class="JuiceDescription">
			It’s time to say moo’ve over to regular cow’s milk, because I’m in town to pick up the pieces where dairy left them. I boost your heart health and provide you with good fats that the body recognizes and doesn’t send straight to your love handles, thighs or tummy. I go down easy with a touch of vanilla bean and naturally sweet dates. Pour me into cereal or coffee, warm me up in your morning oats or drink me straight, sending you to decadent hazelnut mylk heaven.
		</div>
    </div>
</div>
