

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<div class="JuiceGlyph">500 ml</div>
    	<div class="JuiceTitle">Uprooted</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "05-uprooted.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "apple.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">apple</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "beet.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">beet</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">carrot</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "ginger.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">ginger</div>
			</div>

		</div> 
		<div class="JuiceDescription">
			Yesterday evening was fun, but now it’s time to take out the trash. I’m always ready to do some damage control. I’ll detox your liver, purify your blood and get your stamina up in no time. 
		</div>
    </div>
</div>
