

<div class="JuiceFrame">
    <div class="JuiceHeader">
    	<%= image_tag "juice-bullet.png", class: "JuiceGlyph" %>
    	<div class="JuiceTitle">Down Easy</div>
    </div>

    <div class="JuiceContent">
    	<%= image_tag "juice-bottle-6.png", class: "JuiceBottle" %>
		<div class="JuiceIngredients">
			<div class="Ingredient IngredientMargin">
				<div class="IngredientIconFrame"><%= image_tag "grape.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">grape</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "carrot.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">carrot</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "cabbage.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">cabbage</div>
			</div>
			<div class="Ingredient">
				<div class="IngredientIconFrame"><%= image_tag "lemon.png", class: "IngredientIcon" %></div>
				<div class="IngredientLabel">lemon</div>
			</div>
			
		</div> 
		<div class="JuiceDescription">
			Brains and beauty do co-exist! I’m testament to that. I boost brain function and help you to stay slim and radiant. I’m also quite the handyman - if you feel pain in the stomach, gut or head, I’m your one-stop-shop for a natural remedy. 
		</div>
    </div>
</div>
