<div id="section2"></div>

<div id="" class="parallax nopadding_parallax">
    <div class="RightColumn">

        <div class="ColumnTitle anchorLink">Juices</div>

        <%= render "section_seperator" %>

        <div id="" class="SubRow">

        	<%= render "static_pages/shop/juice1" %>
        	<%= render "static_pages/shop/juice2" %>
        	<%= render "static_pages/shop/juice3" %>
            <%= render "static_pages/shop/juice4" %>
            <%= render "static_pages/shop/juice5" %>
            <%= render "static_pages/shop/juice6" %>
            <%= render "static_pages/shop/juice7" %>
            <%= render "static_pages/shop/juice8" %>
            <%= render "static_pages/shop/juice9" %>
            <%= render "static_pages/shop/juice10" %>
            
        </div>
    </div>

</div>