<div id="section2"></div>

<div id="" class="parallax nopadding_parallax">
    
    <div class="LeftColumn">
        
    </div>
    <div class="RightColumn">

        <div class="ColumnTitle anchorLink">Shop</div>

        <%= render "section_seperator" %>

        <div id="" class="SubRow">

        	<%= render "static_pages/shop/juice1" %>
        	<%= render "static_pages/shop/juice2" %>
        	<%= render "static_pages/shop/juice1" %>
        	<%= render "static_pages/shop/juice2" %>
        	<%= render "static_pages/shop/juice1" %>
        	<%= render "static_pages/shop/juice2" %>

        </div>
    </div>

</div>