
	<div id="ruler">

	</div>

<div id="jus_header">

	<div id="header_bg">
		<div id="logo_ornament">
			<%= image_tag "color-droplets.png", id: "droplets" %>
			<%= image_tag "icpj.png", id: "slogan" %>
		</div>
	</div>

	<div id="links">
		<%= link_to home_path do %>
			<%= image_tag "jus-header-logo.png", id: "jus_logo" %>
		<% end %>

		<%= link_to home_path(:anchor => 'section1') do %>
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label"><%= t 'navigation.home' %></div>
			</div>
		<% end %>


		<%= link_to juices_path do %>
			<div class="nav_link permanent_selected">
				<div class="bullet_drop"></div>
				<div class="nav_label"><%= t 'navigation.shop' %></div>
			</div>
		<% end %>

		<%= link_to juices_path(:anchor => 'section1') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label"><%= t 'navigation.juices' %></div>
			</div>
		<% end %>		

		<%= link_to juices_path(:anchor => 'section2') do %>
			<div class="nav_sublink">
				<div class="bullet_dot"></div>
				<div class="nav_label"><%= t 'navigation.cleanses' %></div>
			</div>
		<% end %>	

		<%= link_to cleanses_path do %>
			<!--div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label"><%= t 'navigation.cleanses' %></div>
			</div-->
		<% end %>

		<%= link_to faq_path do %>
			<!--div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label"><%= t 'navigation.faq' %></div>
			</div-->
		<% end %>

		<%= link_to about_path do %>
			<div class="nav_link">
				<div class="bullet_drop"></div>
				<div class="nav_label"><%= t 'navigation.about' %></div>
			</div>
		<% end %>

		
		<%= link_to("https://jusistanbul.myshopify.com/cart ", target: "_blank") do %>
			<div id="carticon"> 
				<%= image_tag "cart-hover.png", id: "hoveredCart", class: "cartimage"%>
				<%= image_tag "cart.png", id: "unhoveredCart", class: "cartimage" %>
			</div>
			<div id="gotoCart">
				<%= t 'juices.gotocart' %>
			</div>
			<div id="shopifyCartInfo">
				<iframe id="shopifyCartFrame" scrolling="no" frameborder="0" src="http://jusistanbul.myshopify.com/pages/external-cart" noresize="noresize"></iframe>
			</div>
		<% end %>


	</div>

	<%= render "static_pages/header/header_social" %>

</div>

<%= render "static_pages/header/header_script" %>
