<div id="section2"></div>

<div id="" class="parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink"><%= t 'faq.section2.title' %></div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section2.question1' %></div></br>
                <%= t 'faq.section2.answer1-section1' %> 
                </br></br>
                <%= t 'faq.section2.answer1-section2' %>   
                </br></br>
                <%= t 'faq.section2.answer1-section3' %> 
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section2.question2' %></div></br>
                <%= t 'faq.section2.answer2' %> <b><%= link_to "aylin@jusistanbul.com" , "mailto:aylin@jusistanbul.com", target: "_blank" %></b>
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section2.question3' %></div></br>
                <%= t 'faq.section2.answer3-section1.bullet1' %></br>
                <%= t 'faq.section2.answer3-section1.bullet2' %></br>
                <%= t 'faq.section2.answer3-section1.bullet3' %></br>
                <%= t 'faq.section2.answer3-section1.bullet4' %></br>
                <%= t 'faq.section2.answer3-section1.bullet5' %></br>
                <%= t 'faq.section2.answer3-section1.bullet6' %></br>
                <%= t 'faq.section2.answer3-section1.bullet7' %></br>
                <%= t 'faq.section2.answer3-section1.bullet8' %></br></br>
                <%= t 'faq.section2.answer3-section2.bullet1' %></br>
                <%= t 'faq.section2.answer3-section2.bullet2' %></br>
                <%= t 'faq.section2.answer3-section2.bullet3' %></br>
                <%= t 'faq.section2.answer3-section2.bullet4' %></br>
                <%= t 'faq.section2.answer3-section2.bullet5' %></br>
                <%= t 'faq.section2.answer3-section2.bullet6' %></br></br>
                <%= t 'faq.section2.answer3-section3.bullet1' %></br>
                <%= t 'faq.section2.answer3-section3.bullet2' %></br>
                <%= t 'faq.section2.answer3-section3.bullet3' %></br>
                <%= t 'faq.section2.answer3-section3.bullet4' %></br>
                <%= t 'faq.section2.answer3-section3.bullet5' %></br></br>
                <%= t 'faq.section2.answer3-section4' %>
                </br></br>
        </div>

    

	</div>

</div>