<div id="section3"></div>

<div id="" class="parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink"><%= t 'faq.section3.title' %></div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section3.question1' %></div></br>
                <%= t 'faq.section3.answer1-section1' %>
                </br></br>
                <%= t 'faq.section3.answer1-section2' %>
                </br></br>
                <%= t 'faq.section3.answer1-section3' %>
                </br></br>
                <%= t 'faq.section3.answer1-section4' %>
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section3.question2' %></div></br>
                <%= t 'faq.section3.answer2' %><b><%= link_to "info@jusistanbul.com" , "mailto:info@jusistanbul.com", target: "_blank" %></b>.
                </br></br></br></br>
        </div>

	</div>

</div>