<div id="section1"></div>

<div id="" class="parallax nopadding_parallax">
    
    <div class="RightColumn">

    	<div class="ColumnTitle anchorLink"><%= t 'faq.section1.title' %></div>

    	<%= render "section_seperator" %>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question1' %></div></br>
                <%= t 'faq.section1.answer1-section1' %>
                </br>
                <%= image_tag "norwalk-graphic.png", id: "norwalk-graphic" %>
                </br></br>
                <%= t 'faq.section1.answer1-section2' %>
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question2' %></div>
                </br>
                <%= t 'faq.section1.answer2-section1' %></br></br>
                <%= t 'faq.section1.answer2-section2' %>
                </br></br>
                <%= t 'faq.section1.answer2-section3' %>
                </br></br>
                <%= t 'faq.section1.answer2-section4' %> 
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question3' %></div></br>
                <%= t 'faq.section1.answer3' %> <b><%= link_to "info@jusistanbul.com" , "mailto:info@jusistanbul.com", target: "_blank" %></b>.
                </br></br>
        </div>

          <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question4' %></div></br>
                <%= t 'faq.section1.answer4-section1' %> 
                </br></br>
                <%= t 'faq.section1.answer4-section2' %>
                </br></br>
                <%= t 'faq.section1.answer4-section3' %> 
                </br></br>
                <%= t 'faq.section1.answer4-section4' %>
                </br></br>
                <%= t 'faq.section1.answer4-section5' %>
                </br></br>
                <%= t 'faq.section1.answer4-section6' %>
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question5' %></div></br>
                <%= t 'faq.section1.answer5' %><b><%= link_to "info@jusistanbul.com" , "mailto:info@jusistanbul.com", target: "_blank" %></b>.
                </br></br>
        </div>

      

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question6' %></div></br>
                <%= t 'faq.section1.answer6-section1' %>
                </br></br>
                <%= t 'faq.section1.answer6-section2' %>
                </br></br>
                <%= t 'faq.section1.answer6-section3' %><b><%= link_to "info@jusistanbul.com" , "mailto:info@jusistanbul.com", target: "_blank" %></b>.
                </br></br>
        </div>

        <div id="" class="SubRow spaced_text">
            <div class="LowerTitle"><%= t 'faq.section1.question7' %></div></br>
                <%= t 'faq.section1.answer7' %>
                </br></br>
        </div>

	</div>

</div>