<div id="section5"></div>

<div class="parallax nopadding_parallax">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

	<div class="ColumnTitle anchorLink">Cleanses</div>

	<%= render "section_seperator" %>


		<div id="" class="SubRow ">
			<%= image_tag "cleanses-1.png", class: "cleanse-glyph" %><div class="GlyphTitle">Fresh Start</div>
			</br></br>
			<%= image_tag "cleanse-1.jpg", class: "cleanse-graphic" %>
			</br></br>

			Whether you are a first-time juice cleanser or fresh off a time period of indulgence or debauchery, our <b>Fresh Start</b> cleanse is the perfect juice protocol for you to get your body back on a healthier track. 
			</br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-2.png", class: "cleanse-glyph" %><div class="GlyphTitle">Standard</div>
			</br></br>
			<%= image_tag "cleanse-2.jpg", class: "cleanse-graphic" %>
			</br></br>

			The Standard cleanse is fit for those who try their best to avoid unhealthy foods, but still indulge on occasion and live a life of moderation. If you are looking for a straightforward juice detox that is simple but a bit more challenging than the <b>Fresh Start</b> cleanse, our <b>Standard</b> cleanse is the way to bring yourself back to the basics of life and to the basics of food – incorporating easily-digested, nutrient-dense juices into your daily routine in the most convenient way possible. The <b>Standard</b> cleanse also makes for a first-time cleanse for vegetarians, vegans, non-smokers or those with an already active lifestyle.
			</br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-3.png", class: "cleanse-glyph" %><div class="GlyphTitle">Dig Deep</div>
			</br></br>
			<%= image_tag "cleanse-3.jpg", class: "cleanse-graphic" %>
			</br></br>

			The Dip Deep cleanse is tailored to the seasoned juicers among us who are looking to re-energize their bodies in the purest way possible. Our <b>Dig Deep</b> cleanse is the perfect way to benefit from the world’s healthiest foods and actually experience their medicinal healing properties.
			</br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-4.png", class: "cleanse-glyph" %><div class="GlyphTitle">Custom</div>
			</br></br>
			<%= image_tag "cleanses-custom.jpg", class: "cleanse-graphic" %>
			</br></br>

			Create your own cleanse, choosing as many juices as you like to last you as long as 3 days. Call us for a consultation at <b>0.536.775.2674</b> or e-mail us at <b>info@jusistanbul.com</b> for more information about Custom cleanse options.
			</br></br></br></br>
		</div>

	</div>

</div>