<div id="section3"></div>

<div class="parallax">
    
    <div class="RightColumn">

		<div class="ColumnTitle anchorLink">Why JÜS?</div>

		<%= render "section_seperator" %>

		<div id="juicingIsTheBest" class="SubRow">
			<div class="LowerTitle">Taste the difference</div>
		</div>

		<div id="philosophy_area2">
            <div id="philosophy_background"></div>


            <div class="philosophy_frame2 left_p_frame2">
            	<div class="philosophy_symbol_frame"><%= image_tag "why-icon-1.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label">Undiluted</div>
                <div class="philosophy_desc2">100% raw fruit and vegetable juices, no water added.</div>
            </div>

            <div class="philosophy_frame2">
        		<div class="philosophy_symbol_frame"><%= image_tag "why-icon-2.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label">Glass</div>
                <div class="philosophy_desc2">Our juices taste better in our eco­-friendly glass bottles.</div>
        	</div>

        	<div class="philosophy_frame2 left_p_frame2">
        		<div class="philosophy_symbol_frame"><%= image_tag "why-icon-3.png", class: " philosophy_symbol2" %></div>
                <div class="philosophy_label">Knowledge</div>
                <div class="philosophy_desc2">Our experienced raw food chef is a certified clinical nutritionist.</div>
        	</div>

        	<div class="philosophy_frame2">
            	<div class="philosophy_symbol_frame"><%= image_tag "why-icon-4.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label">Delicious</div>
                <div class="philosophy_desc2">We taste the best, bottom line.</div>
            </div>
		</div>

		<div id="coldPressed" class="SubRow">
			<div class="LowerTitle">Why cold pressed matters</div></br>

			<%= image_tag "coldpressed-graphic.png", id: "coldpressed_chart" %>

			Cold­-pressed juices are superior to any other juice found at supermarkets or those made with a regular juicer. We use state­-of-­the-­art juicing technology to retain the integrity of the vitamins, minerals and living enzymes inherent in fresh fruits and vegetables that other juicing
processes generally destroy. With JÜS, they become an accessible part of your daily nutrition. Read more about our cold­-pressed juicing process in 
<b><%= link_to "our FAQ section." , faq_path %></b>
		</div>

		

	</div>

</div>