<div id="section2"></div>

<div id="information" class="parallax first_parallax slogan_parallax">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">
        <div id="HookSlogan">Get back to your roots.</div>
        

    	<div class="ColumnTitle anchorLink">The JÜS Promise</div>

    	<%= render "section_seperator" %>
    
        <div id="philosophy_area">

            <div class="philosophy_frame left_p_frame">
            	<%= image_tag "philosophy-icon-1.png", class: "philosophy_symbol" %>
                <div class="philosophy_label">Organic.</div>
                <div class="philosophy_desc">We use all the organic produce we can get our hands on</div>
            </div>

            <div class="philosophy_frame">
        		<%= image_tag "philosophy-icon-2.png", class: "philosophy_symbol" %>
                <div class="philosophy_label">Unprocessed.</div>
                <div class="philosophy_desc">Fruits and vegetables are pressed. That's it.</div>
        	</div>

        	<div class="philosophy_frame left_p_frame">
        		<%= image_tag "philosophy-icon-3.png", class: " philosophy_symbol" %>
                <div class="philosophy_label">Unpasteurized.</div>
                <div class="philosophy_desc">Juices are never heated, thereby preserving their nutritional integrity.</div>
        	</div>

        	<div class="philosophy_frame">
            	<%= image_tag "philosophy-icon-4.png", class: "philosophy_symbol" %>
                <div class="philosophy_label">Raw.</div>
                <div class="philosophy_desc">The life-force energy of fresh fruits and vegetables are intact. Juices are alive!</div>
            </div>

            <div class="philosophy_frame left_p_frame" id="last_philosophy">	
        		<%= image_tag "philosophy-icon-5.png", class: "philosophy_symbol" %>
                <div class="philosophy_label">Cold pressed.</div>
                <div class="philosophy_desc">We use the renowned Norwalk Juice Press to safely extract juices from produce.</div>
        	</div>

        	<div class="philosophy_frame">	
        		<%= image_tag "philosophy-icon-6.png", class: "philosophy_symbol" %>
                <div class="philosophy_label">Animal friendly.</div>
                <div class="philosophy_desc">No animal by products are used in the creation of our juices.</div>
        	</div>

        </div>

        <div id="whatIsJus" class="SubRow">
             From the source of the ingredients up to the packaging, we are committed to offering you the most delicious and environmentally­conscious cold­pressed juice product in Istanbul. We don’t use hidden ingredients or processes to preserve or enhance our juices. No matter your taste preferences or health goals, we have something for you.
        </div>

	</div>

</div>