<div id="section4"></div>


<div class="parallax">
    
    <div class="RightColumn">

		<div class="ColumnTitle anchorLink"><%= t 'homepage.section3.title' %></div>

		<%= render "section_seperator" %>


		<div id="" class="SubRow">
			
		</div>
	</div>

	<!--div id="products_frame">

	</div-->

</div>

<div class="parallax" id="juices2">

    <div class="RightColumn">

		<div id="" class="SubRow">

			<%= image_tag "juices-home.jpg", id: "juices_graphic" %>

			<%= t 'homepage.section3.description1' %> <b><%= link_to (t 'homepage.section3.link-text1') , juices_path %></b>
		</br></br>

			<%= t 'homepage.section3.description2' %><b><%= link_to (t 'homepage.section3.link-text2') , cleanses_path %></b>
			
		</div>
	</div>

</div>
