<div id="section4"></div>


<div class="parallax">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

		<div class="ColumnTitle anchorLink">Our Juices</div>

		<%= render "section_seperator" %>


		<div id="" class="SubRow">
			
		</div>
	</div>

	<!--div id="products_frame">

	</div-->

</div>

<div class="parallax" id="juices2">
    
    <div class="LeftColumn">
    	
    </div>
    <div class="RightColumn">

		<div id="" class="SubRow">

			<%= image_tag "products-2101n.jpg", id: "juices_graphic" %>

			We offer a diverse lineup of living, high­frequency fruit and vegetable juices and mindfully press, bottle and sell a truly raw and unpasteurized product. All of our juices are handmade in Istanbul, unconcentrated, undiluted and free of additives, preservatives, flavoring or sugars. View all the juices we offer on <b><%= link_to "our Menu page." , shop_path %></b>
		</br></br>

		<%= image_tag "cleanse-1.jpg", class: "home-cleanse-graphic" %></br>

			Let your body do what it does best: heal and renew. Our JÜS cleanses support a fresh start in your approach to diet and health – there’s one fit for every lifestyle. Find them on <b><%= link_to "our Cleanses page." , cleanses_path %></b>
			
		</div>
	</div>

</div>
