<div id="section5"></div>

<div class="parallax nopadding_parallax">
    
    <div class="RightColumn">

	<div class="ColumnTitle anchorLink"><%= t 'cleanses.title' %></div>

	<%= render "section_seperator" %>




		<div id="" class="SubRow ">
			<%= t 'cleanses.description' %>
			<b><%= link_to (t 'cleanses.link-text') , "mailto:info@jusistanbul.com", target: "_blank" %></b>.</br>
			</br>
			<%= image_tag "cleanses-1.png", class: "cleanse-glyph" %><div class="GlyphTitle"><%= t 'cleanses.cleanse1.title' %><font class="cleansePrice"><%= t 'cleanses.cleanse1.price' %></font></font></div>
			</br>
			<%= image_tag "cleanse-1.jpg", class: "cleanse-graphic" %>
			</br>
			<%= t 'cleanses.cleanse1.description' %>
			</br></br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-2.png", class: "cleanse-glyph" %><div class="GlyphTitle"><%= t 'cleanses.cleanse2.title' %><font class="cleansePrice"><%= t 'cleanses.cleanse2.price' %></font></div>
			</br>
			<%= image_tag "cleanse-2.jpg", class: "cleanse-graphic" %>
			</br>
			<%= t 'cleanses.cleanse2.description' %>
			</br></br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-3.png", class: "cleanse-glyph" %><div class="GlyphTitle"><%= t 'cleanses.cleanse3.title' %><font class="cleansePrice"><%= t 'cleanses.cleanse3.price' %></font></div>
			</br>
			<%= image_tag "cleanse-3.jpg", class: "cleanse-graphic" %>
			</br>
			<%= t 'cleanses.cleanse3.description' %>
			</br></br></br>
		</div>

		<div id="" class="SubRow ">
			<%= image_tag "cleanses-4.png", class: "cleanse-glyph" %><div class="GlyphTitle"><%= t 'cleanses.cleanse4.title' %><font class="cleansePrice"><%= t 'cleanses.cleanse4.price' %></font></div>
			</br>
			<%= image_tag "cleanse-4.jpg", class: "cleanse-graphic" %>
			</br>
			<%= t 'cleanses.cleanse4.description1' %>
			<b><%= link_to (t 'cleanses.cleanse4.link-text') , "mailto:info@jusistanbul.com", target: "_blank" %></b> <%= t 'cleanses.cleanse4.description2' %>
			</br></br></br></br>
		</div>

	</div>

</div>