<div id="section3"></div>

<div class="parallax">
    
    <div class="RightColumn">

		<div class="ColumnTitle anchorLink"><%= t 'homepage.section2.title' %></div>

		<%= render "section_seperator" %>

		<div id="juicingIsTheBest" class="SubRow">
			<div class="LowerTitle"><%= t 'homepage.section2.subsection1.title' %></div>
		</div>

		<div id="philosophy_area2">
            


            <div class="philosophy_frame2 left_p_frame2">
            	<div class="philosophy_symbol_frame"><%= image_tag "why-icon-1.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label"><%= t 'homepage.section2.subsection1.bullet1.label' %></div>
                <div class="philosophy_desc2"><%= t 'homepage.section2.subsection1.bullet1.description' %></div>
            </div>

            <div class="philosophy_frame2">
        		<div class="philosophy_symbol_frame"><%= image_tag "why-icon-2.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label"><%= t 'homepage.section2.subsection1.bullet2.label' %></div>
                <div class="philosophy_desc2"><%= t 'homepage.section2.subsection1.bullet2.description' %></div>
        	</div>

        	<div class="philosophy_frame2 left_p_frame2">
        		<div class="philosophy_symbol_frame"><%= image_tag "why-icon-3.png", class: " philosophy_symbol2" %></div>
                <div class="philosophy_label"><%= t 'homepage.section2.subsection1.bullet3.label' %></div>
                <div class="philosophy_desc2"><%= t 'homepage.section2.subsection1.bullet3.description' %></div>
        	</div>

        	<div class="philosophy_frame2">
            	<div class="philosophy_symbol_frame"><%= image_tag "why-icon-4.png", class: "philosophy_symbol2" %></div>
                <div class="philosophy_label"><%= t 'homepage.section2.subsection1.bullet4.label' %></div>
                <div class="philosophy_desc2"><%= t 'homepage.section2.subsection1.bullet4.description' %></div>
            </div>

            <div id="philosophy_background"></div>
		</div>

		<div id="coldPressed" class="SubRow">
			<div class="LowerTitle"><%= t 'homepage.section2.subsection2.title' %></div></br>

			<%= image_tag "coldpressed-graphic.png", id: "coldpressed_chart" %>

			<%= t 'homepage.section2.subsection2.description' %>
<b><%= link_to (t 'homepage.section2.subsection2.link-text') , faq_path %></b>
		</div>

		

	</div>

</div>