<!DOCTYPE html>
<html lang="en">
<head>
  <title>JÜS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	


	<%= favicon_link_tag 'favicon.ico' %>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body >
	<%= yield %>

	<script>
		$(".language_selection").removeClass("active_language");
		
		$(".language_name:contains(<%= escape_javascript(params[:locale].upcase) %>)").parent().addClass("active_language");
	</script>
</body>
</html>
